@font-face {
  font-family: Imported;
  src: url(./resources/fonts/Quicksand_Bold_Oblique.otf);
}

.windowSize{
     display: flex;
     width: 100%;
     height: 100%;
     align-items: center;
     text-align: center;
}

#root {
  font-family: Imported;
}

.css-1hbyad5-MuiTypography-root {
  display: none !important;
}

.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton {
  display: none !important;
}

.css-8je8zh-MuiTouchRipple-root {
  display: none !important;
}

.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bubbles  {
  position: relative;
  display: flex;
}

@keyframes animatescroll {
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%{
    filter: hue-rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}

@keyframes bordercolor {
  0% {
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    box-shadow: 1px 5px 2px #0456c8;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 25px #e65c00;
  }
  50% {
    box-shadow: 0 0 25px #18b201;
  }
  100% {
    box-shadow: 0 0 25px #0456c8;
  }
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1)
  }
}

section div {
  color: #fff;
  font-size: 1.2em;
}
::-webkit-scrollbar
{
  width: 12px;
}
::-webkit-scrollbar-thumb
{
  background:linear-gradient(315deg, rgba(87, 143, 104, 0.75) 0%, rgba(37, 34, 69, 0.75) 48%, rgba(181, 62, 62, 0.75) 77%, rgba(184, 128, 68, 0.75) 100%);
  border-radius: 6px;
}

/*
Calendario
*/

.conteudo{
  top: 0;
  bottom: 0;
  right: 0;
  left: 66%;
  margin: 0 0 0 -250px;
  position: absolute;
  width: 375px;
  
}
.calendario{
  
  text-align: center;
  
}
.conteudo .calendario header{
  position: relative;
  
}
h2{
  position: relative;
  font-size: 32px;
  text-transform: uppercase;
}
.btn-ant,.btn-pro{
  position: absolute;
  top: 50%;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-top: -16px;
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  font-size: 16px;
  font-weight: bold;
}
.btn-ant{
  left:80px;
}
.btn-pro{
  right: 80px;
}
.btn-ant:hover,.btn-pro:hover{
  background: #cbd1d2;
  color: #f9f9f9;
}
table{
  margin-top: 20px;
  border-collapse: collapse;
}
.calendario td{
  border-radius: 50%;
  height: 50px;
  text-align: center;
  justify-content: center;
  width: 50px;
}
.calendario tbody td{
  cursor: pointer;
}
.calendario tbody td:hover{
  background: linear-gradient(315deg, rgba(87, 143, 104, 0.40) 0%, rgba(37, 34, 69, 0.40) 48%, rgba(181, 62, 62, 0.40) 77%, rgba(184, 128, 68, 0.40) 100%);
  animation: glow 2s linear infinite;
}
.calendario table .dia-atual{
  background: linear-gradient(315deg, rgba(87, 143, 104, 0.40) 0%, rgba(37, 34, 69, 0.40) 48%, rgba(181, 62, 62, 0.40) 77%, rgba(184, 128, 68, 0.40) 100%);
  animation: glow 1s linear infinite;
}
.calendario .mes-anterior, .calendario .mes-proximo{
  color: #cbd1d2;
}
.calendario .mes-anterior:hover, .calendario .mes-proximo:hover{
  background: #cbd1d2;
  color: #000;
}
.event{
  position: relative;
  /*position: absolute;*/
}
.event:after{
  content: '';
  width: 7px;
  height: 7px;
  left: 50%;
  bottom: 7px;
  margin: -3.5px 0 0 -3.5px;
  background: #cbd1d2;
  display: block;
  position: absolute;
  border-radius: 50%;
}
.event:hover::after{
  background: linear-gradient(315deg, rgba(87, 143, 104, 0.40) 0%, rgba(37, 34, 69, 0.40) 48%, rgba(181, 62, 62, 0.40) 77%, rgba(184, 128, 68, 0.40) 100%);
}
.event.dia-atual:after{
  background: #cbd1d2;
}
.event.dia-atual:hover::after{
  background: linear-gradient(315deg, rgba(87, 143, 104, 0.40) 0%, rgba(37, 34, 69, 0.40) 48%, rgba(181, 62, 62, 0.40) 77%, rgba(184, 128, 68, 0.40) 100%);
}