@font-face {
  font-family: Imported;
  src: url(./resources/fonts/Quicksand_Bold_Oblique.otf);
}

#root {
  font-family: Imported;
}

.css-1hbyad5-MuiTypography-root {
  display: none !important;
}

.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton {
  display: none !important;
}

.css-8je8zh-MuiTouchRipple-root {
  display: none !important;
}

.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.bubbles  {
  position: relative;
  display: flex;
}

.light {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
}

.light::nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

#scrollPath
{
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar
{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animatescroll 5s linear infite;
}

#progressbar:before
{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter:blur(10px);
}

#progressbar:after
{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter:blur(10px);
}

@keyframes animatescroll {
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%{
    filter: hue-rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1)
  }
}